 <% if @transaction.errors.any? %>
<ul>
	<% @transaction.errors.full_messages.each do |err| %>
	<li><%= err %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for [@account, @transaction] do |f| %>

<%= f.label :credit %>	
<%= f.text_field :credit %>
<%= f.label :debit %>	
<%= f.text_field :debit %>
<%= f.label :payee %>	
<%= f.text_field :payee %>
<%= f.label :date %>	
<%= f.text_field :date %>
<%= f.label :category %>	
<%= f.text_field :category %>

<%= f.submit %>

# <% end %>